/* ==================== 헤더 네비게이션바 ==================== */
body{
    font-family:'Noto Sans KR';
    max-width:1920px;
    line-height:40px;  
    margin:0 auto;  
}
header a {text-decoration: none; }
header .logo {position: absolute; left: 30px; top: 30px; z-index: 100; margin-left: 20%; height: 30px;}
header >a  {position:absolute; display: flex; right: 10%; top:30px; width: 50px; z-index: 100; }
header #gon {position: absolute; left: 0; top: 0; padding: 10px 232px 5px; width: 100%; box-sizing: border-box; background: #fff; z-index: 10; }
header #gon nav + div {position:absolute; left: 0; top:85px; width: 100%;height: 200px; background: rgba(24, 75, 159, .7); transition: all 0.5s; z-index: -1;}
header #gon nav > ul >li {display: inline-block; position: relative; font-weight: bold; font-size: 20px;}
header #gon nav > ul > li > a{display: block; position:relative; width:160px; height: 70px; font-size: 20px; color: #000; line-height: 70px; text-decoration: none; top: 0px; z-index: 10; text-align: center; }
header #gon nav > ul > li > a:after {content: ""; position: absolute; bottom: 10px; left: 40px; width: 0; height: 8px; background: #184B9F; transition: all 0.5s; border-radius: 20px; }
header #gon nav > ul > li:hover > a:after{ width: 50%;}
header #gon nav > ul > li:hover > a{ color: #184B9F;}
header #gon nav > ul ul {padding-top: 15px; position: absolute; width: 100%; text-align: left; height: 230px; transition: all 0.5s; padding-left: 40px; font-size: 18px; font-weight: 400;}
header #gon nav > ul ul li{line-height: 25px; padding-left: 0px; }
header #gon nav > ul ul a {font-size: 20px; color: white; z-index: 10;}
header #gon nav > ul ul a:hover :after {left: 0; width: 100%;}
#main-nav {text-align: end; padding-right: 5%; }
.close{opacity: 0; display: none;}
.more{opacity: 1;}
.top_back{background: rgba(0, 0, 0, 0.3); height: 355px; position:relative; z-index: 5;}
.top{background: url(../img/toco-img4/yard-header.png) no-repeat center ;  height: 300px; width: 100%; position: absolute; display: flex; justify-content: center; align-items: center; top: 6.6%;}
.top > p{text-align: center;  position: absolute; height: 58; font-size: 40px; color: #fff;  z-index: 5;}

.resoft-news{
    width:100%;
    display:flex;
    font-size:20px;
    max-width:1440px;
    margin:0 auto;
    text-align:left;}

.yard-news-img{
    top: 741px;
    left: 620px;
    width: 1060px;
    height: 561px;

}

.yard-news-right{
    width:75%;
    text-align:left;
    padding-top:15%;   
}

/* 왼쪽 페이지 */
.yard-news-left{
    text-align:left;
    margin-top:5%;
    width:25%;
}
.resoft-news .yard-news-left h1{
    font-size:40px;
    margin-top: 50px;
}
.resoft-news .yard-news-left h4{
    font-size:18px;
    letter-spacing: 0px;
    color:#c8c8c8;
    padding-bottom:59px;

}

/* 오른쪽 페이지 */
.resoft-news .yard-news-right  {
    margin:3% 0 6% 0;
}
.resoft-news-right p{
    padding-bottom:2%;
    font-size:16px;
}

.yard-news-right h1{
    font-weight: bold;
    font-size:24px;
}
.yard-news-right h4{
    font-size:16px;
    font-weight: lighter;
    color:#AAAAAA;
    margin-bottom:30px;
}
.yard-news-right p{
    letter-spacing:0.6px;
    padding-bottom:2%;
    font-size:16px;
    font-weight:normal;
    line-height:20px;
    top: 1352px;
    width: 1041px;
    left: 620px;
}
.yard-news-right .yard-news-img{
    width: 1060px;
    padding-bottom:50px;
}
.yard-news-right hr{
    margin-bottom:30px;
}

/* 버튼 */
.button-left{
    position:relative;   
    left:0;
    float:left;    
    text-align:left;
    display:flex;
    font-size:16px;
}

.button-before{
    position:relative;   
    left:0;
    float:left;    
    text-align:left;
    display:flex;
    font-size:16px;
}

.button-before:hover{
    color:#184b9f;
}

.button-after{
    position:relative;
    right:0;
    float:right;
    text-align:right;     
    display:flex;
    font-size:16px;
}

.button-after:hover{
    color:#184b9f;
}

/*------------------------푸터---------------*/
.footer{    
    width:100%;
    height: 250px;
    background: #E9E9E9;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrap {
    width: 1440px;
    display: flex; 
    justify-content: left;
    flex-direction: column;
}

.footer-text{     
    margin-top: 30px;
    display: flex;
    gap: 7%;
    color:#9e9e9e;
}

.footer .copyright{
    color:#9E9E9E;
    font-weight:normal;
}      

.footer-left,.footer-right{
    font-weight: lighter;
    line-height:25px;
}
